<div class="container-fluid p-0">
  <div class="row">
    <div class="col">
      <div class="bank-app-wrapper">
        <div class="bank-tittle">
          <img src="https://www.absa.co.za/content/dam/south-africa/absa/Iconography/absa-logo-round.svg" alt="">
           <h4>{{title}}</h4>
        </div>
          <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{subTittle}}</h4>  
                <table class="table table-striped">
                    <thead class="thead-bg">
                      <tr>
                        <th>Account Number</th>
                        <th>Account Type</th>
                        <th>Balance</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let account of accounts; let i = index">
                        <td>{{account.account_number}}</td>
                        <td>{{account.account_type}}</td>
                        <td>{{currenySymbol}}{{account.balance}}</td>
                        <td><button class="btn btn-primary" [disabled]="isWithdrwal(account)" (click)="setSelectedAccount(i)">withdraw</button></td>
                      </tr>
                    </tbody>
                    <tfoot class="thead-bg">
                      <th colspan="2">Balance</th>
                      <th colspan="2">{{currenySymbol}}{{total}}</th>
                    </tfoot>
                  </table>             
              </div>
            </div>
      </div>     
    </div>
  </div>
</div>
