.container-fluid {
    background-color: lightgrey;
    height: 100vh;
}
.bank-app-wrapper {
   width: 50%;
   margin: 30px auto;
 
}

.bank-tittle {
    padding: 30px;
    background-color: #BE0028;
    color: white;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
}
.bank-tittle h4 {
    display: -webkit-inline-box;
    vertical-align: -webkit-baseline-middle;
}
.bank-tittle img {
    width: 40px;
    display: inline;
    margin-right: 10px;
}
.card {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
}
.card-title {
    color: #BE0028;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}
.thead-bg {
    background-color: #BE0028 !important;
    color: white;
}